apiVersion: 1

providers:

  - name:            "Image Intelligence Dashboards"
    orgId:           1
    folder:          "Image Intelligence"
    folderUid:       "image-intelligence"
    type:            file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates:  true

    options:
      path:                 /var/lib/grafana/dashboards
      foldersFromFilesStructure: false
